<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>


<footer th:fragment="foot" class="bg-dark text-light py-4">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<ul class="list-unstyled">
							<li><p href="#" class="text-light fs-2">Alvaro Lorente Almán</p></li>
							<li><a href="mailto:lorente.alalv24@salesianos.triana.edu@ejemplo.com"
									class="text-light fs-2">Contáctame</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-unstyled">
							<li><a href="https://www.facebook.com/" target="_blank" class="text-light fs-2"><i
										class="fab fa-facebook"></i> Facebook</a></li>
							<li><a href="https://x.com/" target="_blank" class="text-light fs-2"><i class="fab fa-twitter"></i>
									Twitter</a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="text-light fs-2"><i
										class="fab fa-instagram"></i> Instagram</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-unstyled">
							<li><a href="#productos" class="text-light fs-2">Productos</a></li>
							<li><a href="#componentes" class="text-light fs-2">Componentes</a></li>
							<li><a href="#botes" class="text-light fs-2">Barcos</a></li>
							<li><a href="#navbar" class="text-light fs-2">Inicio</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
</body>