<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head}">
	<meta charset="UTF-8">
	<title>Producto</title>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">TodoRemo</a>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="http://placehold.it/400x400" alt=""
					th:src="${#strings.isEmpty(producto.imagen)} ? 'http://placehold.it/350x260' : ${producto.imagen}"
					class="img-responsive" />
			</div>
			<div class="col-md-8">
				<h1 class="product-name" th:text=${producto.nombre}>Nombre del
					producto</h1>
				<div class="product-price">
					<div class="row">
						<div class=col-md-4>
							
							<span class="pvp"
								th:text="${producto.descuento == 0} ? ${#numbers.formatCurrency(producto.pvp)} : ${#numbers.formatCurrency(producto.pvp * (1 - producto.descuento))}">100€</span>
						</div>
						<th:block th:if="${producto.descuento > 0}">
							<div class="col-md-3 pvp-no-discounted">
								<span th:text="${#numbers.formatDecimal(producto.pvp,0,2)}">120€</span>
							</div>
							


							<div class="col-md-3 discount">
								<span class="label-discount">Descuento </span> <span class="label label-danger"
									th:text=${#numbers.formatPercent(producto.descuento,1,0)}>12%</span>
							</div>
						</th:block>
					</div>
				</div>
				

				<div class="row">
					<div class="detail-rating col-md-4">
						<span th:each="i:${#numbers.sequence(1,5)}" class="glyphicon"
							th:classappend="${i <= producto.getPuntuacionMedia()} ? 'glyphicon-star': 'glyphicon-star-empty'"></span>
					</div>

					<div class="detail-rating col-md-4">
						<p>
							<span th:text="${#numbers.formatDecimal(producto.getPuntuacionMedia(),1,1)}">4</span>/5
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Características</h3>
				<p th:text="${producto.descripcion}">Descripción</p>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>

</html>