<!DOCTYPE html>
<html lang="es">

<head th:replace="~{fragmentos/head::head}">
	<meta charset="UTF-8">
	<title>Formulario cliente</title>
</head>

<body>


	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="navbar-brand" href="/">TodoRemo</a>
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="form-container">
					<form class="form-horizontal" id="clienteForm" method="post" action="#"
						th:action="@{/cliente/nuevo/submit}" th:object="${cliente}">
						<h1 class="text-center">
							<span th:text="${cliente.id} ? 'Editar' : 'Nuevo'"></span> Cliente
						</h1>
						<input type="hidden" th:field="*{id}" id="id" />

						<div class="form-group">
							<label for="nombre" class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nombre" placeholder="Nombre"
									th:field="*{nombre}" required>
							</div>
						</div>

						<div class="form-group">
							<label for="apellidos" class="col-sm-3 control-label">Apellidos</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="apellidos" placeholder="Apellidos"
									th:field="*{apellidos}" required>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="col-sm-3 control-label">Nombre de usuario</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="username" placeholder="Nombre de usuario"
									th:field="*{username}" required>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="col-sm-3 control-label">Contraseña</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="password" placeholder="Contraseña"
									th:field="*{password}" required>
							</div>
						</div>

						<div class="form-group">
							<label for="telefono" class="col-sm-3 control-label">Teléfono</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="telefono" placeholder="Teléfono"
									th:field="*{telefono}">
							</div>
						</div>

						<div class="form-group">
							<label for="direccion" class="col-sm-3 control-label">Dirección</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="direccion" placeholder="Dirección"
									th:field="*{direccion}">
							</div>
						</div>

						<div class="form-group">
							<label for="numeroTarjeta" class="col-sm-3 control-label">Número de tarjeta</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="numeroTarjeta"
									placeholder="Número de tarjeta" th:field="*{numeroTarjeta}">
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="col-sm-3 control-label">Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="email" placeholder="Email"
									th:field="*{email}" required>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-primary"
									onclick="return validateForm()">Enviar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="../static/js/validar-form-cliente.js"></script>

</body>

</html>