<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragmentos/head::head}">
		<meta charset="UTF-8">
		<title>Producto</title>
	</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">TodoRemo</a>
			</div>
		</div>
	</nav>
	

	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<form method="post" action="#"
					th:action="@{/producto/nuevo/submit}" th:object="${producto}">
					<input type="hidden" th:field="*{id}" id="id" /><br><br><br><br>
					<div class="form-group">
						<label for="nombre">Nombre</label> <input type="text"
							class="form-control" id="nombre" placeholder="Nombre"
							th:field="*{nombre}" />
					</div>
					<div class="form-group">
						<label for="imagen">URL de la imagen</label> <input type="url"
							class="form-control" id="imagen" placeholder="http://..."
							th:field="*{imagen}">
					</div>
					<div class="form-group">
						<label for="descripcion">Descripción</label>
						<textarea class="form-control" id="descripcion"
							placeholder="Descripción" rows="3" th:field="*{descripcion}"></textarea>
					</div>
					<div class="form-group">
						<label for="pvp">PVP</label> <input min="0" type="number"
							class="form-control" id="pvp" placeholder="1.0" th:field="*{pvp}" />

					</div>
					<div class="form-group">
						<label for="descuento">Descuento</label> <input type="number"
							min="0" max="50" step="5" class="form-control" id="descuento"
							placeholder="1%" th:field="*{descuento}" />
					</div>
					

					<div class="form-group">
						<label for="categoria">Categoría</label> <select
							th:field="*{categoria}" class="form-control">
							<option value="-1">---</option>
							<option th:each="categoria : ${categorias}"
								th:value="${categoria.id}" th:text="${categoria.nombre}">Categoría</option>
						</select>
					</div>
					<button type="submit" class="btn btn-default">Enviar</button>
				</form>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>