<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tienda TodoRemo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div class="p-5 bg-danger text-white text-center">
		<h1 class="ms-3">TodoRemo</h1>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
		<div class="container-fluid">
			<a class="navbar-brand" href="javascript:void(0)"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav mx-auto float-none w-50">
					<li class="navbar-item">
						<a class="nav-link fs-2" href="#productos">Productos</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link fs-2" href="#componentes">Componentes</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link fs-2" href="#botes">Barcos</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link fs-2" href="#ropa">Ropa deportiva</a>
					</li>
					<li class="navbar-item">
						<a th:href="@{/nuevo-usuario}" class="navbar-link" data-nav-link>
							<button type="button" class="btn btn-danger fs-2 me-3">
								Registrarme
							</button>
						</a>
					</li>
					<li class="navbar-item">
											<a th:href="@{/list-producto}" class="navbar-link" data-nav-link>
												<button type="button" class="btn btn-danger fs-2 me-3">
													Ver productos
												</button>
											</a>
										</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="galeria" class="container mt-5">
		<div class="row">
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">

					<div class="carousel-item active">
						<img th:src="@{/img/dossin.jpg}" class="d-block" alt="imagen1" width="100%">
					</div>

					<div class="carousel-item">
						<img th:src="@{/img/esp.jpg}" class="d-block" alt="imagen2" width="100%">
					</div>

					<div class="carousel-item">
						<img th:src="@{/img/rott.jpg}" class="d-block" alt="imagen3" width="100%">
					</div>
				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Anterior</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Siguiente</span>
				</button>
			</div>
		</div>
	</div>


	<div class="container mt-5">
		<div class="row">
			<div class="col-sm-4">
				<!--<h1>¿Quienes somos?</h1>				-->
				<div class="img1"><img th:src="@{/img/dos.jpg}" width="300px"></div><br>
				<p class="fs-2">Somos dos remeros del Real Círculo de Labradores de Sevilla que hemos decidido emprender
					en un
					negocio de productos de remo.</p>
				<hr class="d-sm-none">
			</div>
			<div class="container col-sm-8">
				<div class="img2"><img th:src="@{/img/8+.jpg}" alt="img" width="100%">
				</div>
			</div>
		</div>
	</div>



	<div id="productos" class="container mt-5">
		<div class="row">
			<h1 class="mt-4 mb-5">Productos que ofrecemos</h1>
		</div>
	</div>
	<div id="componentes" class="container mt-5">
		<h1 class="my-5">Componentes</h1>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/empacher3.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">Orza y timón del bote</h5>
						<p class="card-text fs-3">Esta parte del barco sirve para controlar la dirección.</p>
						<a href="#" class="btn btn-primary">Ver más</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/empacher2.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">Carro y vías</h5>
						<p class="card-text fs-3">En el carro es donde nos sentamos y este va sobre unas vías para su
							correcto
							funcionamiento.</p>
						<a href="#" class="btn btn-primary">Ver más</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/empacher1.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">Casco y cortaolas</h5>
						<p class="card-text fs-3">Es la estructura del bote y proporciona estabilidad.</p>
						<a href="#" class="btn btn-primary">Ver más</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="botes" class="container mt -5">
		<h1 class="my-5">Barcos</h1>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/1x.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">1x Skiff</h5>
						<a href="#" class="btn btn-primary">Ver más</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/2x.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">2x Doble scull</h5>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/2-.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">2- Dos sin timonel</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/4-.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">4- Cuatro sin timonel</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/rfxzzwzbvheu68g4xyhs.webp}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">8+ Ocho con timonel</h5>

					</div>

				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/4X.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">4x Cuatro scull</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="ropa" class="container mt -5">
		<h1 class="my-5">Ropa deportiva</h1>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/termica.png}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">Camiseta térmica</h5>
						<a href="#" class="btn btn-primary">Ver más</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/platanito.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">Platanito</h5>
						<p class="card-text"></p>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img th:src="@{/img/mallas.jpg}" class="card-img-top" alt="imagen">
					<div class="card-body">
						<h5 class="card-title fs-1">Mallas</h5>
						<p class="card-text"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h2 class="mt-4 mb-4">Formulario</h2>
		<form>

			<div class="mb-3">
				<label for="nombre" class="form-label">Nombre completo</label>
				<input type="text" class="form-control" id="nombre" placeholder="">
			</div>

			<div class="mb-3">
				<label for="email" class="form-label">Correo Electrónico</label>
				<input type="email" class="form-control" id="email" placeholder="">
			</div>
			<div class="mb-3">
				<label for="telefono" class="form-label">Número de teléfono</label>
				<input type="tel" class="form-control" id="telefono">
			</div>
			<div class="mb-3">
				<label for="producto" class="form-label">Producto preferido</label>
				<select class="form-select" id="producto">
					<option value="componentes">Componentes</option>
					<option value="futbol">Barcos</option>
					<option value="baloncesto">Ropa</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="comentario" class="form-label">Comentarios sobre la web</label>
				<textarea class="form-control" id="comentario" rows="3"
					placeholder="Escribe tus comentarios"></textarea>
			</div>

			<div class="mb-3">
				<legend class="form-label">¿Conocías nuestra tienda?</legend>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="practica_deporte" id="si">
					<label class="form-check-label" for="si">Sí</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="practica_deporte" id="no">
					<label class="form-check-label" for="no">No</label>
				</div>
			</div>
			<div class="mb-3">
				<legend class="form-label">¿Crees que en Sevilla es conocido el remo?</legend>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="practica_deporte" id="si">
					<label class="form-check-label" for="si">Sí</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="practica_deporte" id="no">
					<label class="form-check-label" for="no">No</label>
				</div>
			</div>
			<div class="mb-3">
				<legend class="form-label">Selecciona el tipo de productos que deberiamos añadir</legend>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="camisetas" id="interes_camisetas">
					<label class="form-check-label" for="interes_camisetas">Camisetas</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="calzonas" id="interes_calzonas">
					<label class="form-check-label" for="interes_calzonas">Calzonas</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="accesorios" id="interes_baloncesto">
					<label class="form-check-label" for="interes_baloncesto">Accesorios</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="suplementacion" id="interes_suplementacion">
					<label class="form-check-label" for="interes_suplementacion">Suplementación deportiva</label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>

	</div>


	<div class="container mt-5">
		<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
			aria-controls="offcanvasExample">Menú lateral</button>

		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
			aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasExampleLabel">Menú</h5>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
					aria-label="Cerrar"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="list-unstyled">
					<li><a href="#productos">Productos</a></li>
					<li><a href="#componentes">Componentes</a></li>
					<li><a href="#botes">Barcos</a></li>
					<li><a href="#ropa">Ropa deportiva</a></li>
				</ul>
			</div>
		</div>
	</div><br><br>
	<div class="container">
		<footer class="bg-dark text-light py-4">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<ul class="list-unstyled">
							<li><p href="#" class="text-light fs-2">Alvaro Lorente Almán</p></li>
							<li><a href="mailto:lorente.alalv24@salesianos.triana.edu@ejemplo.com"
									class="text-light fs-2">Contáctame</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-unstyled">
							<li><a href="https://www.facebook.com/" class="text-light fs-2"><i
										class="fab fa-facebook"></i> Facebook</a></li>
							<li><a href="https://x.com/" class="text-light fs-2"><i class="fab fa-twitter"></i>
									Twitter</a></li>
							<li><a href="https://www.instagram.com/" class="text-light fs-2"><i
										class="fab fa-instagram"></i> Instagram</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-unstyled">
							<li><a href="#productos" class="text-light fs-2">Productos</a></li>
							<li><a href="#componentes" class="text-light fs-2">Componentes</a></li>
							<li><a href="#botes" class="text-light fs-2">Barcos</a></li>
							<li><a href="" class="text-light fs-2">Inicio</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer><br>

	</div>

</body>

</html>