<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head}">
	<meta charset="UTF-8">
	<title>Gestión de productos</title>
</head>

<body>
	
	<div id="menu">
				<a th:href="@{/}" class="btn btn-primary">Inicio</a>
				<a href="#" th:href="@{/logout}" class="btn btn-danger">Salir</a> 
				<a th:href="@{/producto/nuevo}">Nuevo producto</a>
				<a th:href="@{/categoria/}">Gestión de categorias</a>		
				<a th:href="@{/cliente/}">Gestión de clientes</a>
	</div>
	<table border=1>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto : ${productos}">
				
				<td th:text="${producto.nombre}">Producto 1</td>
				<td th:text="${producto.descripcion}">Descripción 1</td>
				<td th:text="${producto.pvp}">100</td>
				<td>
					<a th:href="@{/producto/editar/{id}(id=${producto.id})}"class="btn btn-primary">Editar</a>
					<a th:href="@{/producto/eliminar/{id}(id=${producto.id})}"class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>