<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/head::head}">
	<meta charset="UTF-8">
	<title>Gestión clientes</title>
</head>

<body>
	<div id="menu">
		<a th:href="@{/}" class="btn btn-primary">Inicio</a>
		<a href="#" th:href="@{/logout}" class="btn btn-danger">Salir</a>
		<a th:href="@{/cliente/nuevo}">Nuevo cliente</a>
		<a th:href="@{/producto}">Gestión de productos</a>		
		<a  th:href="@{/categoria/}">Gestión de categorías</a>
	</div>			
	<br /><br />
	<table border=1>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Telefono</th>
				<th>Direccion</th>
				<th>Numero tarjeta</th>
				<th>E-mail</th>
				<th>Operaciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente : ${lista}">
				<td th:text="${cliente.nombre}">Nombre</td>
				<td th:text="${cliente.apellidos}">Apellidos</td>
				<td th:text="${cliente.telefono}">Telefono</td>
				<td th:text="${cliente.direccion}">Direccion</td>
				<td th:text="${cliente.numeroTarjeta}">Numero tarjeta</td>
				<td th:text="${cliente.email}">Email</td>


				<td>
					<a href="#" th:href="@{/cliente/editar/{id}(id=${cliente.id})}" class="btn btn-primary">Editar</a> |
					<a href="#" th:href="@{/cliente/eliminar/{id}(id=${cliente.id})}"class="btn btn-danger">Borrar</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>