<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h2>Productos</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.nombre}">Nombre</td>
                <td th:text="${producto.precio}">Precio</td>
                <td th:text="${producto.descripcion}">Descripción</td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/productos/nuevo}">Agregar Nuevo Producto</a>
</body>
</html>
